html {
    background-color: black;
    text-align: center;
}

h1{
    color: yellow;
    font-size: 2.5em;
}

h2{
    color: rgb(210, 210, 210);
    padding-left: 23px;
}

p{
    color: rgba(255, 255, 0, 0.851);
    font-size: 1.2em;
}

li {
    color: rgb(210, 210, 210);
    font-size: 1.1em;
}
  
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    text-align: left;
    padding: 25px;
    padding-top: 10px;
    border:3px; 
    border-style: solid; 
    border-color: white; 
    border-radius: 15px;
    margin-left: 37px;
    margin-right: 5px;
}
  
.left {
    width: 25%;
}
  
.right {
    width: 65%;
}

div.gallery {
    border: 1px;
}
  
div.gallery:hover {
    border: 1px solid #ffffff;
    border-radius: 30px;
}

td {
    width: 40%;
    padding: 15px;
}

table {
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}
  
div.desc {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    color: rgb(210, 210, 210);
}


* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
}

@media only screen and (max-width: 850px) {
    .responsive {
        width: 49.99999%;
        margin: 30px 0;
    }

    .left {
        width: 90%;
        margin-bottom: 25px;
   }
    
    .right {
        width: 90%;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }

    .column {
        margin-left: 20px;
    }
    .left {
        width: 90%;
        margin-bottom: 25px;
    }
      
    .right {
        width: 90%;
     }
}

footer {
    margin-top: 30px;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
}